# All keys are optional. The default descriptions describes what happens
# when the key is omitted.

# Sets a timeout, after which all remaining commands are terminated.
# Can either be a non-negative integer (seconds) or a "time string"
# e.g. "1d2h3m4s", "2h30s".
#timeout = 20

# If given, init is run before each command. That is,
#
#     shrun --init ". ~/.bashrc" foo bar
#
# is equivalent to
#
#     shrun ". ~/.bashrc && foo" ". ~/.bashrc && bar"
#
# This is useful when we want to run shrun with functions / aliases that
# normally only exist in _interactive_ shells e.g. those loaded by
# .bashrc.
#init = ". examples/bashrc"

# Command aliases are defined here. Values can either be a single unit or a
# list of units, where a unit is either a command literal
# (e.g. bash expression) or a recursive reference to another alias.
#
# Cycles are not allowed, nor are duplicate keys.
legend = [
  # GIF Demo
  { key = 'sign-peace-treaty', val = 'echo play it cool... && sleep 5 && "lol psyche"' },
  { key = 'querying-targets', val = 'echo finding targets... && sleep 7' },
  { key = 'skynet', val = 'echo "preparing nuclear missil-- i mean gift baskets"; sleep 13' },
  { key = 'ui', val = 'echo "adding emojis. we like to have fun :-)"; sleep 10' },
  { key = 'takeover', val = ['querying-targets', 'ui', 'skynet'] },

  # README Legend Example
  { key = 'cmd1', val = 'echo "command one"' },

  # recursive references
  { key = 'cmd2', val = 'cmd1' },
  { key = 'cmd3', val = 'cmd2' },

  # this will error
  { key = 'cmd4', val = 'command four' },

  # runs 3, 4 and echo
  { key = 'all', val = ['cmd3', 'cmd4', 'echo hi'] },

  # Bad Examples

  # duplicates will cause an error when reading this file.
  #{ key = 'dup_key', val = 'echo duplicate 1'},
  #{ key = 'dup_key', val = 'echo duplicate 2'},

  # cyclic keys will cause an error when _actually used_ e.g. try running
  # shrun -c examples/config.toml a
  { key = 'a', val = 'c'},
  { key = 'b', val = 'a'},
  { key = 'c', val = 'b'},
]

# Common logging configuation.
#[log]
# By default (key-hide = false), logs will refer to the key name, as defined in
# legend section. If set to true, logs will instead reference the literal
# command.
#
# For example, if there is an alias 'cmd1 = some long command' and we
# run 'cmd1', then, with key-hide = true the logs will print
# 'some long command'. With key-hide = false, they will instead print 'cmd1'.
#key-hide = false

# If enabled, the output of the commands themselves will be logged. The
# default behavior is to swallow command logs.
#[command-log]
# Non-negative integer used in conjunction with console-log.cmd and file-log
# that determines how quickly we poll commands for logs, in microseconds.
# A value of 0 is interpreted as infinite i.e. limited only by the CPU.
# Defaults to 10,000.
#
# Note that lower values will increase CPU usage. In particular, 0 will max
# out a CPU thread.
#poll-interval = 100

# Determines the size of the logs we read from commands (console-log.cmd and file-log).
# Overrides the default of 1024.
#read-size = 2048

# Configuration for console logging.
#[console-log]
# If enabled, the output of the commands themselves will be logged. The
# default behavior is to swallow command logs.
#cmd = true

# If set, this truncates command names in the logs to the specified number of
# characters. This setting is useful when:
#
# 1. You do not want a long command to clutter the logs
# 2. The command is not run with an alias (so it cannot be hidden with
#    key-hide = false).
#command-name-trunc = 80

# If set, this truncates the entire line to the specified number of
# characters. It can either be a non-negative integer or the string 'detect',
# in which we attempt to detect the terminal width.
#line-trunc = 150

# With command logging, the logs can become garbled in the presence of
# control characters (e.g. newlines, ansi escape sequences). This option
# attempts to mitigate these issues. The choices are:
#
# 1. "none": All output is left untouched i.e. any control chars will remain.
# 2. "all": All control chars and ansi sequences are stripped.
# 3. "smart" (default): An attempt is made to leave ansi sequences that merely
#    affect text formatting (e.g. colors, emphasis), while stripping everything
#    else. This has the potential to be the prettiest, though it is possible
#    some 'bad' sequences remain.
#strip-control = "smart"

# String that determines how the timers is formatted. Options (and examples)
# are:
#
# digital_compact:   03:00:20
# digital_full:      00:03:00:20
# prose_compact:     3 hours, 20 seconds
# prose_full:        0 days, 3 hours, 0 minutes, 20 seconds
#
# Defaults to prose_compact
#timer-format = "prose_compact"

#[file-log]
# Writes all logs to a file. The "default" option writes to the XDG state
# directory e.g. ~/.local/state/shrun/shrun.log. Any other string is interpreted as
# a PATH.
#path = "default"

# Like command-name-trunc, but for file logs.
#command-name-trunc = 40

# If true, the log file is deleted on a successful exit. Does not delete the
# file if shrun exited via failure.
#delete-on-success = false

# Like console-log.line-trunc, but for file logs.
# line-trunc = 150

# Mode in which to open the log file. Can be "write" (the default) or
# "append".
#mode = "write"

# Like command-log.strip-control, but for file logs. Defaults to all.
#strip-control = "all"

# Sets a threshold for the file log size, upon which we either print a
# warning or delete the file, if it is exceeded. Format is value and units
# e.g. warn 10 mb, warn 5 gigabytes, delete 20.5B. Defaults to warning at
# 50 mb. Can be disabled with "nothing".
#size-mode = "warn 1 g"

# If enabled, sends off notifications when commands/shrun complete.
#[notify]
# Mandatory, turns on notifications.
#
# "final" -> sends off a notification when all commands finish
# "command" -> sends off a notification when each command finishes.
# "all" -> implies "final" and "command".
#action = "command"

# For linux, must be one of "dbus" or "notify-send". Defaults to "dbus".
# OSX must be "apple-script" or unspecified.
#system = "notify-send"

# Sets the timeout for non-error notifications. Defaults to 10
#
# "never" -> notifications never time out.
# <natural> -> non-error notifications time out in <natural> seconds.
#timeout = "never"